div.hero {
    background-color: var(--secondary_lighter);
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    max-width: 96vw;
    max-height: 76vh;
}

img.hero {
    margin: 3vw 2vw 5vw 2vw;
    border-radius: 2vw;
    max-width: 92vw;
}

p.hero {
    width: 60%;
    margin-left: 2vw;
    margin-right: 2vw;
}

button.hero {
    margin-bottom: 1vw;
    border-radius: 1vw;
    padding: 1vw;
    background-color: var(--primary_color);
    color: var(--background_color);
    font-weight: bold;
    font-size: large;
    border: var(--font_color);
    transition: box-shadow 0.3s;
    cursor: pointer;
}

button.hero:hover {
    box-shadow: var(--font_color) 0 0 1.5rem;
}

button.tele {
    font-size: medium;
}

@media only screen and (max-width: 600px) {
    p.hero {
        width: 88vw;
    }

    button.hero {
        width: 65vw;
        height: 10vw;
        margin-bottom: 3vw;
        font-size: 5vw;
        border-radius: 2vw;
        min-height: fit-content;
    }

    button.tele {
        font-size: 4vw;
        height: 8vw;
        width: 55vw;
    }

    img.hero {
        border-radius: 3vw;
    }
}