@font-face {
    font-family: "Barlow";
    src: url("../asset/police/Barlow-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("../asset/police/Barlow-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("../asset/police/Barlow-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    --background_color: #FFF8F0;
    --font_color: #211A1D;
    --primary_color: #005C69;
    --secondary_color: #8A716A;
    --secondary_lighter: #8A716AB3;
    font-family: 'Barlow';
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--background_color);

}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
    color: var(--primary_color);
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    color: var(--primary_color);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 7vw;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        bottom: 0 !important;
    }

    .menu__btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--font_color);
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        right: -1%;
        bottom: -120%;
        width: 101%;
        height: 60%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background: url("../asset/background_burger.svg");
        background-size: cover;
        /* box-shadow: 2px 2px 6px rgba(0, 0, 0, .4); */
        transition-duration: .25s;
    }

    .menu__item {
        text-align: center;
        display: block;
        padding: 12px 24px;
        color: var(--background_color);
        font-size: 10vw;
        font-weight: bold;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }
}