@font-face {
    font-family: "Barlow";
    src: url("../asset/police/Barlow-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("../asset/police/Barlow-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("../asset/police/Barlow-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    --background_color: #FFF8F0;
    --font_color: #211A1D;
    --primary_color: #005C69;
    --secondary_color: #8A716A;
    --secondary_lighter: #8A716AB3;
    font-family: 'Barlow';
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--background_color);
    scroll-behavior: smooth;

}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
    color: var(--primary_color);
    margin-top: 1%;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    color: var(--primary_color);
}

h3 {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu__toggle {
    display: none;
}

.menu__box {
    list-style: none;
    width: 60vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 1.5rem;

}

.menu__item {
    text-decoration: none;
    color: var(--font_color);
    font-weight: bold;
    transition: color 0.3s;
}

.menu__item:hover {
    color: var(--primary_color);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 7vw;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
        top: 14.5px;
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        bottom: -1% !important;
    }

    .menu__btn {
        position: fixed;
        bottom: 25px;
        right: 30px;
        width: 33px;
        height: 33px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--font_color);
        transition-duration: .25s;
    }

    .menu__btn>span {
        top: 3.5px;
    }

    .menu__btn>span::before {
        content: '';
        top: 22px;
    }

    .menu__btn>span::after {
        content: '';
        top: 11px;
    }

    .menu__box {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: end;
        right: -1%;
        bottom: -120%;
        width: 101%;
        height: 60%;
        margin: 0;
        padding: 0 0 25vw 0;
        list-style: none;
        background: url("../asset/background_burger.svg");
        background-size: cover;
        transition-duration: .25s;
    }

    .menu__item {
        text-align: center;
        display: block;
        padding: 12px 24px;
        color: var(--background_color);
        font-size: 7vw;
        font-weight: bold;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        color: var(--font_color);
    }
}