@font-face {
    font-family: "Barlow";
    src: url("/asset/police/Barlow-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("/asset/police/Barlow-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("/asset/police/Barlow-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    --background_color: #FFF8F0;
    --font_color: #211A1D;
    --primary_color: #005C69;
    --secondary_color: #8A716A;
    --secondary_lighter: #8A716AB3;
    font-family: 'Barlow';
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--background_color);

}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
    color: var(--primary_color);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 9vw;
    }
}